## Data Wrangling

In [1]:
import pandas as pd
import numpy as np
import os
import sys

# businesses
businesses_df = pd.read_csv('./SFFoodProgram_Complete_Data/businesses_plus.csv')
businesses_d = {}
for index,row in businesses_df.iterrows():
    business_id = row[0]
    businesses_d[business_id] = {}
    for i in range(1,len(row)):
        businesses_d[business_id][businesses_df.columns.values[i]] = row[i]

# violations
violations_df = pd.read_csv('./SFFoodProgram_Complete_Data/violations_plus.csv')
violations_d = {}
for index,row in violations_df.iterrows():
    business_id = row[0]
    violations_d.setdefault(business_id,[])
    d = {}
    for i in range(1,len(row)):
        d[violations_df.columns.values[i]] = row[i]
    violations_d[business_id].append(d)
                     
# inspections
inspections_df = pd.read_csv('./SFFoodProgram_Complete_Data/inspections_plus.csv')
inspections_d = {}
for index,row in inspections_df.iterrows():
    business_id = row[0]
    inspections_d.setdefault(business_id,[])
    d = {}
    for i in range(1,len(row)):
        d[inspections_df.columns.values[i]] = row[i]
    inspections_d[business_id].append(d)

In [10]:
businesses_df.head()

,business_id,name,address,city,postal_code,latitude,longitude,phone_number,TaxCode,business_certificate,application_date,owner_name,owner_address,owner_city,owner_state,owner_zip
0,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,94104,37.791116,-122.403816,NaN,H24,779059,NaN,Tiramisu LLC,33 Belden St,San Francisco,CA,94104
1,17,GEORGE'S COFFEE SHOP,2200 OAKDALE Ave,S.F.,94124,37.741086,-122.401737,14155531470,H24,78443,04/05/1975,"LIEUW, VICTOR & CHRISTINA C",648 MACARTHUR DRIVE,DALY CITY,CA,94015
2,19,Nrgize Lifestyle Cafe,"1200 Van Ness Ave, 3rd Floor",San Francisco,94109,37.786848,-122.421547,NaN,H24,NaN,NaN,24 Hour Fitness Inc,"1200 Van Ness Ave, 3rd Floor",San Francisco,CA,94109
3,24,OMNI S.F. Hotel - 2nd Floor Pantry,"500 California St, 2nd Floor",San Francisco,94104,37.792888,-122.403135,NaN,H24,352312,NaN,OMNI San Francisco Hotel Corp,"500 California St, 2nd Floor",San Francisco,CA,94104
4,29,CHICO'S PIZZA,131 06th St,S.F.,94103,37.774722,-122.406761,14155251111,H24,939325,11/29/2000,"AL-HAKIM, HANI",186 MARBLY AVE.,DALY CITY,CA,94015

In [12]:
violations_df.head()

,business_id,date,ViolationTypeID,risk_category,description
0,10,20140114,103119,Moderate Risk,Inadequate and inaccessible handwashing facili...
1,10,20140114,103145,Low Risk,Improper storage of equipment utensils or linens
2,10,20140114,103154,Low Risk,Unclean or degraded floors walls or ceilings
3,10,20121114,103154,Low Risk,Unclean or degraded floors walls or ceilings
4,10,20140729,103144,Low Risk,Unapproved or unmaintained equipment or utensils

In [14]:
inspections_df.head()

   business_id  Score      date                   type
0           10    NaN  20140807  Reinspection/Followup
1           10     94  20140729  Routine - Unscheduled
2           10    NaN  20140124  Reinspection/Followup
3           10     92  20140114  Routine - Unscheduled
4           10     98  20121114  Routine - Unscheduled